@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Space+Grotesk:wght@700&family=Space+Mono&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body, body.post {
  font-family: 'Space Grotesk', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;

  --background-col: #050505;
  --shade-col: rgb(17, 17, 17);
  --text-col: rgb(178, 178, 178);
  --tint-col: rgb(208, 208, 208);
  --accent-col: #ff00c3;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 100vh auto auto auto;
  transition: 200ms ease-in-out;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto;
}

header {
  background-color: var(--background-col);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--shade-col);
  color: var(--text-col);
  border-bottom: 2px solid var(--shade-col);
}
header > div {
  opacity: 1;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 0.2em 0.3em;
}
header > nav, header > a {
  display: none;
  text-decoration: none;
}

section {
  background-color: var(--background-col);
  color: var(--text-col);
  display: none;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}
section > div {
  opacity: 1;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 0.2em 0.3em;
}
section:target {
  display: flex;
}

/* When a section is targeted, only show the <a> in the header and hide the rest */
main:has(section:target) {
  grid-template-rows: 6vh auto 0vh 0vh;
}
main:has(section:target) header {
  overflow: hidden;
  padding: 0;
}
main:has(section:target) header > div {
  display: none;
}
main:has(section:target) header > a {
  display: inline;
  color: var(--tint-col);
  width: 100%;
  text-align: center;
}
main:has(section:target) header > a:hover {
  text-decoration: none;
}
ul {
  max-width: 800px;
  width: 100%;
  list-style: none;
  padding: 0;
}
li > h3 {
  margin-bottom: 5px;
}
li > time {
  font-size: 0.8rem;
  color: var(--text-col);
}

/* Likewise, when a blog post is targeted */
body.post main {
  grid-template-rows: 6vh auto !important;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
body.post header {
  overflow: hidden;
  padding: 0;
}
body.post header > div {
  display: none;
}
body.post header > a {
  display: inline;
  color: var(--tint-col);
  width: 100%;
  text-align: center;
}
body.post section {
  display: flex;
}
article {
  max-width: 800px;
  width: 100%;
  line-height: 1.6;
  font-weight: 400; 
}
article img { max-width: 100%; }
article pre {
  overflow-x: auto;
  border: 1px solid var(--text-col);
  background: var(--shade-col);
  padding: 1rem;
  font-family: 'Space Mono', monospace;
  font-size: .875rem;
  font-weight: 400;
  max-width: 100%;
}

/*----- TYPOGRAPHY -----*/
h1 {
  font-size: 42px;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
h1 > span {
  padding: 0 5px;
  animation: flash 0.15s steps(1) forwards;
  animation-delay: var(--d);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

/*----- ANIMATION -----*/
@keyframes flash {
  0% {
    opacity: 1;
    color: transparent;
  }
  50% {
    opacity: 1;
    color: var(--accent-col);
  }
  100% {
    opacity: 1;
    color: var(--tint-col);
  }
}

.cursor {
  opacity: 0;
  color: var(--accent-col);
  animation:
    flash 0.1s steps(1) forwards,
    blink 0.8s step-end infinite;
  animation-delay: var(--d), var(--d);
}

@keyframes blink {
  0% { opacity: 1; color: var(--accent-col); }
  50% { opacity: 0; color: var(--accent-col); }
}

@media only screen and (max-width: 680px) {
  h1 { font-size: 30px; }
  body { font-size: 16px;}
  a { text-decoration: underline; }
}
